.colomn-info i, .phone-info i {
    font-size:2em;
    padding: 8px;
    color: rgb(154, 188, 84);
}

.colomn-info p, .phone-info p {
    padding: 8px;
}

.contact-title {
    font-size: 1.3rem;
    color: rgb(154, 188, 84);
    font-family: 'Dancing Script', cursive;
}
.map-image{
    width: 100%;
}

.colorButton {
    background-color: rgb(154, 188, 84) !important;
    border-color: rgb(154, 188, 84) !important;
}
