.map-info i, .phone-info i {
    font-size:2em;
    padding: 8px;
    color: rgb(154, 188, 84);
}

.map-info p, .phone-info p {
    padding: 8px;
}

.map-image{
    width: 100%;
}

.colorButton {
    background-color: rgb(154, 188, 84) !important;
    border-color: rgb(154, 188, 84) !important;
}

@media screen and (max-width: 1000px) {
    .map-info, .phone-info, .map-image {
        padding-left: 8px;
        padding-right: 8px;
    }

}