.person-wrapper {
    margin-bottom: 2em;
}

.profile-home-pic {
    width: 15em;
    height: 15em;
}

h3, h2 {
    margin-bottom: 1em;
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}
.home-description h2{
    text-align: center;
}